:root {
  --primaryColorDark: #3f5164;
  --primaryColorDarkLowOpacity: #3f51643d;

  --primaryColorDarkOnHover: #364453;

  --primaryColorLight: #efefef;
  --primaryColorSuccess: darkgreen;

  --primaryColorDanger: crimson;

  --adminHeaderBGColor: #0b1658;
}
