.btn {
  display: block;
  width: 100%;
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  padding: 10px;
  color: var(--primaryColorLight);
  background: var(--primaryColorDark);
  margin: 10px auto;
  border: 0;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    background-color: var(--primaryColorDarkOnHover);
  }
}
@media screen and (max-width: 480px) {
  .btn {
    font-size: 0.85rem;
  }
}
