a {
  text-decoration: none;
}
.navbarItems {
  position: sticky;
  top: 0;
  //   background: linear-gradient(
  //     90deg,
  //     rgb(110, 94, 254) 0%,
  //     rgb(73, 63, 252) 100%
  //   );
  background: linear-gradient(90deg, #2525259e 0%, #000000 100%);
  justify-content: center;
  display: flex;
  font-size: 1.2rem;
  align-items: center;
  height: 60px;
  z-index: 1000;
}

.navbar-logo {
  color: #fff;
  justify-self: start;
  margin-left: 10px;
  cursor: pointer;
  &:hover {
    transition: all 0.3s ease-out;
    color: #ccc;
  }
}

.fa-react {
  margin-left: 0.3rem;
  font-size: 1.5rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 65vw;
  justify-content: end;
  margin-right: 2rem;
}

.nav-links {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  &:hover {
    // background-color: #6d76f7;
    background-color: #ffffff2e;
    border-radius: 4px;
    transition: all 0.3s ease-out;
  }
}

.fa-bars {
  color: #fff;
  vertical-align: -webkit-baseline-middle;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
  height: 100%;
  .mui-icon {
    color: #fff !important;
    font-size: 2rem;
  }
}

@media screen and (max-width: 1100px) {
  //   .navbarItems {
  //     position: relative;
  //   }
  .nav-menu {
    // display: flex;
    display: block;
    // flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
    height: 100vh;
  }
  .nav-menu.active {
    // background: #6668f4;
    background: #000000d1;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
    font-size: 1.2rem;
    &:hover {
      //   background-color: #7577fa;
      background-color: #91919161;
      border-radius: 0;
    }
  }
  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 25%);
  }
  .menu-icon {
    display: block;
    position: absolute;
    left: 0;
    cursor: pointer;
    background: none;
    border: 0;
    padding: 10px;
  }
}

.fa-times {
  color: #fff;
  font-size: 2rem;
  vertical-align: -webkit-baseline-middle;
}
@media (prefers-reduced-motion: no-preference) {
  .fa-react {
    animation: App-logo-spin infinite 15s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button {
  position: absolute !important;
  right: 0;
  top: 0;
  transform: translate(-20%, 35%);
}
.button-mobile {
  display: none !important;
  position: absolute !important;
  right: 0;
  top: 0;
  color: white !important;
  font-size: 1.5rem !important;
  height: 100%;
}
@media screen and (max-width: 400px) {
  .button {
    display: none !important;
  }
  .button-mobile {
    display: block !important;
  }
}
