.pro-detail-container {
  padding: 0;
  height: calc(100vh - 60px);
  background-color: white;
  .pro-name {
    font-size: 1.2rem;
  }
  .pro-desc {
    font-size: 1rem;
  }
  .carousel-container {
    width: 50%;
    float: left;
  }
  .pro-info-container {
    padding: 10px;
    float: left;
    width: 50%;
  }
}

@media screen and (max-width: 480px) {
  .pro-detail-container {
    .carousel-container {
      width: 100% !important;
    }
    .pro-info-container {
      padding: 10px;
      width: 100%;
    }
  }
}
