.formRow {
  input,
  &.checkoutInput select {
    display: block;
    width: 100%;
    font-size: 1.3rem;
    line-height: 1;
    font-weight: 400;
    text-align: left;
    padding: 5px 5px;
    margin: 10px auto;
    border: 1px solid var(--primaryColorDark);
    outline: none;
  }
}

.MuiOutlinedInput-input {
  padding: 16.5px 14px !important;
}
.MuiFormLabel-root {
  .Mui-focused {
    color: var(--primaryColorDark);
  }
}
.MuiInputLabel-outlined {
  outline-color: var(--primaryColorDark) !important;
  color: var(--primaryColorDark) !important;
}
@media screen and (max-width: 480px) {
  .MuiOutlinedInput-input {
    padding: 10px !important;
  }
  .MuiInputLabel-outlined {
    transform: translate(10px, 12px) scale(1) !important;
  }
  .MuiInputLabel-shrink {
    transform: translate(14px, -6px) scale(0.75) !important;
  }
}
